@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import 'sass/utilities';

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #FBFFFE;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    @include flex(flex-start);
    width: 85%;
    margin: auto;
    height: 12vh;
    padding-top: 0.5rem;
    // position: fixed;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 999;

    &-logo {
        margin: auto 0;
        cursor: pointer;

        img {
            width: 160px;
            margin: auto 0;
        }
    }

    &-icons {
        @include flex(space-around);
        width: 100%;
        margin-left: 3rem;

        &_links {
            @include flex(space-around);
            list-style: none;

            li {
                margin: 0.4rem;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #001514;
                    font-weight: 500;
                    padding: 0.3rem 1.1rem;
                    border-radius: 5px;
                    border: 3px solid transparent;
                    transition: 0.2s all linear;

                    &:hover {
                        border-color: #001514;
                    }
                }
            }

            .services-link {
                position: relative;
                transition: 0.2s all ease;

                .navbar-services {
                    position: absolute;
                    display: flex;
                    opacity: 0;
                    pointer-events: none;
                    flex-direction: column;
                    width: max-content;
                    top: 170%;
                    left: -70%;
                    background-color: white;
                    padding: 1rem 0;
                    border-radius: 10px;
                    transition: 0.2s all ease;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                    a,
                    a img,
                    a p,
                    a span {
                        background-color: white;
                        transition: 0.2s all ease !important;


                    }

                    a {
                        @include flex(space-evenly);
                        background-color: white;
                        padding-top: 0.8rem;
                        padding-bottom: 0.8rem;

                        img {
                            width: 50px;
                            border-radius: 50%;
                        }

                        p {
                            margin-left: 1rem;
                            width: 100%;
                            background-color: white;
                        }

                        &:hover {
                            border-color: transparent !important;
                            background-color: rgb(243, 243, 243);

                            p,
                            img,
                            span {

                                background-color: rgb(243, 243, 243);
                            }
                        }
                    }

                    .web-utility {
                        position: relative;

                        .utilities {
                            background-color: white;
                            position: absolute;
                            display: block;
                            opacity: 0;
                            pointer-events: none;
                            right: -98%;
                            top: -10%;
                            padding: 0.5rem 0;
                            border-radius: 10px;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            transition: 0.2s all linear;
                            z-index: 111;
                        }
                    }
                }
            }
        }

        .user-buttons {
            margin-left: auto;

            a {
                padding: 0.6rem 1.5rem;
                background-color: #05b177;
                border-radius: 5px;
                margin-right: 0.5rem;
                border: 2px solid #05b177;
                font-weight: 500;
                text-decoration: none;
                color: #FBFFFE;
                transition: 0.2s all ease;

                &:hover {
                    background-color: #FBFFFE;
                    color: #001514;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
            }
        }
    }

    .hamburger {
        position: absolute;
        right: 10%;
        width: 50px;
        height: 15px;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        border-radius: 10px;
        border-radius: 5px;
        display: none;

        &:active {
            background: transparent;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            width: 40px;
            height: 2px;
            background: black;
            transition: 0.5s;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 40px;
            height: 2px;
            background: black;
            transition: 0.5s;
        }
    }
}

@include xxl {
    .navbar {
        width: 95%;

        &-icons {
            margin-left: 0;
        }
    }
}

@include xl {
    .navbar {
        width: 100%;
        z-index: 1;

        &-logo {
            margin: 1rem 0 0 1rem;
        }

        &-icons {
            flex-direction: column;
            position: fixed;
            width: 100vw;
            transition: 0.3s all linear;
            z-index: 11;
            top: 12vh;
            padding-bottom: 1rem;
            border-radius: 20px;
            opacity: 0;
            pointer-events: none;

            &_links {
                width: 100%;
                flex-direction: column;

                li {
                    padding: 1rem;
                    width: 80%;
                    text-align: center;
                    border-bottom: 1px solid black;

                    a {
                        width: 100%;
                    }

                    &:hover {
                        a {
                            border-color: transparent;
                            color: rgb(99, 98, 98);
                        }
                    }
                }
            }

            .user-buttons {
                margin-top: 2rem !important;
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                margin: 0;

                a {
                    margin: 0;
                    text-align: center;
                    width: 40%;
                    margin: auto;
                }
            }
        }

        .hamburger {
            display: block;
        }

        &-services {
            display: none !important;
        }
    }
}

.showme {
    pointer-events: all !important;
    opacity: 1 !important;
}

.hamburger-close:before {
    transform: rotate(225deg) !important;
}

.hamburger-close:after {
    transform: rotate(135deg) !important;
    bottom: none !important;
    top: 0 !important;
}

// hero section
.hero {
    box-sizing: border-box;
    @include flex(space-around);
    width: 90%;
    margin: 4rem auto 10rem;

    &-texts {


        h1 {
            font-size: 3rem;
            display: block;

            span {
                color: $additional-color;
            }
        }

        p {
            color: $text-color;
            font-size: 18px;
            font-weight: 500;
            width: 70%;
            line-height: 2rem;
            margin-top: 1rem;

        }

        &_btns {
            width: 70%;
            @include flex(space-between);
            margin-top: 2rem;

            button {
                outline: none;
                border: none;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                width: 45%;
                padding: .8rem 0;
                border-radius: 30px;
                transition: .1s all linear;

                &:hover {
                    transform: translateY(-4px);
                }
            }

            &-vs {
                background-color: $additional-color;
                color: $background-color;
                border: 2px solid $additional-color !important;

                &:hover {
                    background-color: $background-color;
                    color: $text-color;
                    border: 2px solid $additional-color;
                }
            }

            &-hu {
                background-color: $background-color;
                color: $text-color;
                border: 2px solid $text-color !important;

                &:hover {
                    background-color: $text-color;
                    color: $background-color;
                    border: 2px solid $btn-color;
                }
            }
        }
    }

    &-img {

        width: 60%;
        height: 100%;
        min-width: 300px;

        img {
            width: 100%;
            height: 100%;
            margin: auto;
            border-radius: 18px;
            transition: .2s transform linear;

            &:hover {
                transform: translateY(-5px);
            }
        }
    }

}






@include xxl {
    .hero {
        width: 95%;


        &-texts {
            h1 {
                font-size: 2.3rem;
            }

            &_btns {
                width: 80%;

            }
        }
    }
}

@include lg {
    .hero {
        flex-direction: column-reverse;
        width: 95%;
        margin: auto;
        margin-bottom: 2rem;

        &-texts {
            width: 95%;

            p {
                width: 90%;
            }

            &_btns {
                width: 100%;
            }
        }

        &-img {
            margin: 2rem 0;
            width: 80%;
        }
    }
}

//hero ends

//services
.services {
    margin-top: 10rem !important;

    &-texts {
        text-align: center;

        h3 {
            color: $additional-color;
            font-weight: 600;
            font-size: 1.5rem;
        }

        h1 {
            font-size: 2.4rem;
            font-weight: 600;
            margin: 0rem 0 1rem;
            line-height: 3.5rem;
            margin: 1rem 0 3rem;

            span {
                color: $btn-color;
            }
        }
    }

    &-intros {
        @include flex(space-between);
        width: 85%;
        margin: auto;
        flex-wrap: wrap;

        &_card {
            flex-basis: 30%;
            min-width: 280px;
            text-align: center;
            min-height: 400px;
            transition: .25s box-shadow linear;
            padding: 2rem;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, .1);
            background-color: $background-color;

            .icon {
                width: 100px;
                margin: auto;
                background-color: $background-color;

                img {
                    width: 100%;

                }
            }

            .texts {
                margin-top: 1.5rem;
                background-color: $background-color;

                h2 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    transition: .25s color ease;
                    cursor: pointer;

                    &:hover {
                        color: #13c78b;
                    }
                }

                p {
                    color: gray;
                    margin-top: .5rem;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.5rem;
                }

                button {
                    margin-top: 1.2rem;
                    border: none;
                    outline: none;
                    background-color: inherit;
                    font-size: .9rem;
                    font-weight: 600;
                    cursor: pointer;
                    color: $additional-color;
                    transition: .2s all ease;

                    span {
                        font-size: 2rem;

                    }

                    &:hover {
                        letter-spacing: .5px;
                    }
                }
            }

            &:hover {
                box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
            }
        }
    }
}

@include xxl {
    .services-intros {
        width: 95%;
    }
}

@include xl {
    .services {
        margin-top: 10rem;

        &-texts {
            h1 {
                font-size: 2rem;
            }
        }

        &-intros {
            justify-content: space-around;

            &_card {
                flex-basis: 45%;
                margin-bottom: 2rem;
                min-width: 310px;
            }
        }
    }
}

@include sm {
    .services {


        &-texts {
            h1 {
                font-size: 1.5rem;
            }
        }

        &-intros_card {
            flex-basis: 80%;
        }
    }
}

//sercises end

//about us section

.aboutus {
    width: 95%;
    margin: 8rem auto;
    position: relative;


    &-intro {
        @include flex(space-between);

        &-img {
            width: 60%;
            margin-right: 4rem;
            height: fit-content;
            z-index: 444;
            border-radius: 10px;

            img {
                border-radius: 10px;
                width: 650px;
                margin-bottom: -10px !important;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

            }

        }


        &-texts {
            padding-top: 6rem;
            width: 50%;

            h3 {
                color: $additional-color;
                font-weight: 600;
                font-size: 1.5rem;
            }

            h1 {
                font-size: 2.4rem;
                font-weight: 600;
                margin: 0rem 0 1rem;
                line-height: 3.5rem;

                span {
                    color: $btn-color;
                }
            }

            p {
                color: gray;
                line-height: 2rem;
            }

            ul {
                margin-top: .5rem;
                margin-bottom: 1rem;

                li {
                    @include flex(flex-start);
                    padding: .6rem 0;

                    img {
                        width: 30px;
                        margin-right: 1rem;
                        border-radius: 50%;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 600;
                        color: $text-color;
                    }
                }
            }

            button {
                outline: none;
                border: none;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                background-color: $additional-color;
                width: 45%;
                padding: .8rem 0;
                border-radius: 15px;
                color: $background-color;
                transition: .1s all linear;
                border: 2px solid $additional-color;

                &:hover {
                    transform: translateY(-4px);
                    background-color: $background-color;
                    color: $additional-color;
                }
            }
        }


        .img-design {
            position: absolute;
            bottom: 80px;
            left: -50px;
            width: 650px;
            height: 400px;
            background-color: $additional-color;
            z-index: 1;
            border-radius: 10px;

        }
    }
}

@media(max-width:1100px) {
    .aboutus {
        &-intro {
            &-img {
                margin-right: 2rem;

                img {
                    width: 500px;
                }
            }

            &-texts {
                h1 {
                    font-size: 2rem;
                }
            }

            .img-design {
                bottom: 120px;
                left: -20px;
                width: 450px;
                height: 350px;
            }
        }
    }
}

@include xl {
    .aboutus {
        &-intro {
            flex-direction: column;

            &-img {
                // margin-right: 0;
                margin: auto;
                width: 100%;
                padding-bottom: 4rem;

                img {
                    width: 90%;
                    margin-left: 5%;

                }
            }

            &-texts {
                padding-top: 0%;
                z-index: 44;
                width: 90%;

                h1 {
                    font-size: 2.4rem;
                }
            }

            .img-design {
                display: none;
            }
        }
    }
}

// mv section

.mv {
    width: 95%;
    margin: auto;
    margin-bottom: 10rem;


    &-header {
        color: $additional-color;
        font-size: 1.5rem;
        font-weight: 600;
    }

    &-sector {
        @include flex(space-between);

        &_texts {
            flex-basis: 45%;

            h1 {
                font-size: 2.2rem;
                font-weight: 600;
                line-height: 3.5rem;
            }

            p {
                margin-top: 1rem;
                padding-right: 8rem;
                font-weight: 500;
                color: gray;
                line-height: 2rem;
            }

            .mv_quote {
                &-texts {
                    @include flex(flex-start);
                    height: fit-content;
                    margin-top: 2rem;

                    &-design {
                        width: 5px;
                        height: 3rem;
                        background-color: $additional-color;
                    }

                    h2 {
                        margin-left: 1rem;
                        color: #13c78b;
                        padding-right: 2rem;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }

                &-person {
                    margin-top: 1rem;
                    @include flex(flex-start);

                    img {
                        width: 60px;
                        margin-right: 1.2rem;
                    }

                    .about-person {
                        h4 {
                            font-size: 1.1rem;
                        }

                        p {
                            margin-top: 0;
                            font-weight: 600;
                            color: #001514;
                        }
                    }
                }
            }
        }

        &_img {
            flex-basis: 50%;
            text-align: center;

            img {
                width: 80%;
                margin-right: 2rem;
            }
        }
    }


}

@include xl {
    .mv-sector {
        &_texts {
            flex-basis: 45%;
        }

        &_img {
            img {
                width: 95%;
            }
        }
    }
}

@include lg {
    .mv-sector {
        margin-top: 1.85rem;
        flex-direction: column;

        &_texts {
            flex-basis: 80%;
            order: 2;
        }

        &_img {
            flex-basis: 80%;
            order: 1;
        }
    }
}

// projects
.projects {
    text-align: center;
    margin: 10rem 0;

    &-header {
        color: $additional-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    h1 {
        font-size: 2.2rem;
        width: 70%;
        margin: auto;
        line-height: 3.5rem;
    }

    p {
        color: gray;
        width: 50%;
        line-height: 2rem;

        margin: 1.2rem auto 1.5rem;
    }

    &-all {
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(4, 1fr);
        grid-gap: 1rem;
        width: 95%;
        margin: auto;


        div {
            position: relative;
            cursor: pointer;

            &:hover .about-it {
                opacity: 1;
            }

            img {
                width: 100%;
                border: 1px solid rgba(0, 225, 255, .4);
                border-radius: 10px;
                padding: 1rem 2rem;

            }

            .about-it {
                opacity: 0;
                background-color: rgba(5, 177, 119, .9);
                cursor: pointer;
                position: absolute;
                top: 10%;
                bottom: 10%;
                right: 5%;
                animation: aboutIt;
                transition: .25s all ease;
                left: 5%;
                border-radius: 10px;
                box-shadow: rgba(50, 50, 93, .25) 0px 50px 100px -20px, rgba(0, 0, 0, .3) 0px 30px 60px -30px;

                h1 {
                    background-color: rgba(5, 177, 119, 0);
                    color: $background-color;
                    font-size: 1.2rem;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }

                button {
                    position: absolute;
                    bottom: 10%;
                    right: 50%;
                    transform: translateX(50%);
                    outline: none;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 100px;
                    padding: 1rem 2rem;
                    width: 60%;
                    background-color: $btn-color;
                    cursor: pointer;
                    border: 2px solid $btn-color;
                    color: $background-color;
                    transition: .2s all ease;

                    &:hover {
                        background-color: $background-color ;
                        color: $text-color;
                        bottom: 14%;
                    }
                }
            }
        }

        &_big {
            grid-column: 1/3;
            grid-row: 1/3;

            div {
                h1 {
                    margin-top: 1rem;
                    font-size: 2.5rem !important;
                }

                button {
                    bottom: 40% !important;

                    &:hover {
                        bottom: 43% !important;
                    }
                }
            }

        }
    }
}

@include xxl {
    .about-it {
        button {
            display: none;
        }
    }

}

@include lg {
    .projects {
        h1 {
            width: 85%;
            font-size: 1.6rem;

        }

        p {
            width: 80%;
        }

        &-all {
            width: 80%;
            grid-template: repeat(4, 1fr)/repeat(2, 1fr);
        }
    }
}

// feedback
// .feedback {
//     width: 90%;
//     margin: auto;
//     height: 100vh;

//     h2 {
//         font-size: 1.5rem;
//         color: $additional-color;

//     }

//     h1 {
//         font-size: 2.4rem;
//     }

//     &_demos {
//         width: 60%;
//         margin: 5rem auto;
//         padding: 1rem;
//         // height: 100%;

//         .feedback_demos-card {

//             width: 40%;
//             text-align: left;
//             padding: 1rem 1.5rem;
//             object-fit: cover;
//             height: 100%;
//             border-radius: 10px;
//             box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

//             p {
//                 font-weight: bold;
//                 color: rgb(17, 16, 16);
//                 position: relative;
//                 font-weight: 500;
//             }

//             .feedback-person {
//                 margin-top: 1rem;
//                 @include flex(flex-start);

//                 img {
//                     width: 60px;
//                     border-radius: 100px;
//                     border: 1px solid gray;
//                     margin-right: 1rem;
//                 }
//             }
//         }
//     }

// }

.testimonial {
    // width: 72%;
    height: 700px;
    min-height: 500px;
    margin: auto;
    text-align: center;

    h2 {
        font-size: 1.5rem;
        color: $additional-color;

    }

    h1 {
        font-size: 2.4rem;
        max-width: 100%;
    }


    .container {
        width: 72%;
        margin: 5rem auto 0rem;
        cursor: grab;
        min-height: 280px;
        padding: 1rem;
        padding-right: 2.5rem;



        &:active {
            cursor: grabbing;
        }

        .card {
            position: relative;
            width: 350px;
            padding-bottom: 1rem;
            min-height: 215px;
            text-align: left;
            padding: 1rem 1.5rem;
            object-fit: cover;
            height: 100%;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

            p {
                font-weight: bold;
                color: rgb(17, 16, 16);
                position: relative;
                font-weight: 500;
                max-height: 125px;
            }

            .feedback-person {
                padding-bottom: 1rem;
                margin-top: 2rem;
                @include flex(flex-start);

                img {
                    width: 60px;
                    border-radius: 100px;
                    border: 1px solid gray;
                    margin-right: 1rem;
                }
            }

        }
    }

}


@media(min-width:1050px) {
    .testimonial {
        h1 {
            width: 60%;
            margin: auto;
        }
    }
}

@include xxl {
    .testimonial {
        height: 600px;

        h1 {
            width: 80%;
            margin: auto;
        }
    }

    .container {
        width: 90% !important;
    }
}

@include xl {
    .projects {
        h1 {
            width: 85%;
        }
    }

    .tech {
        margin-top: 5rem;
    }

    .testimonial {
        h1 {
            font-size: 2rem;
        }
    }
}

@include sm {
    .testimonial {
        h1 {

            font-size: 1.5rem;
        }
    }
}

// techs
.tech {
    // margin-top: 2rem;
    text-align: center;
    margin-bottom: 8rem;


    h2 {
        color: $additional-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin-bottom: 1.5rem;
        max-width: 100%;
    }

    &_imgs {

        text-align: center;
        width: 80%;
        margin: auto;
        height: fit-content;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(4, 1fr);
        grid-gap: 1rem;
        // background-color: black;

        img {
            width: 150px;
            height: 150px;
            transition: .3s all ease;
            border-radius: 5px;
            padding: 1rem 2rem;
            justify-self: center;
            border-color: none;

            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: #001514;
            }
        }
    }
}

@include lg {
    .tech_imgs {
        width: 100%;
    }
}

@include sm {
    .tech {
        h1 {
            font-size: 2rem;
        }
    }

    .tech_imgs {
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    }
}

@include xsm {
    .tech_imgs {
        grid-template: repeat(6, 1fr) / repeat(2, 1fr);

        img {
            width: 130px;
        }
    }
}

// contact

.contact {
    text-align: center;
    margin-top: 4rem;

    h2 {
        color: $additional-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        // margin-bottom: 1rem;
    }

    &-form {
        width: 75%;
        padding: 2rem;
        background-color: rgb(252, 252, 252) !important;
        margin: auto;
        text-align: center;
        margin-bottom: 8rem;

        &-fe,
        &-ps {
            @include flex(space-between);
            margin: auto;
            width: 100%;

        }

        input {
            // flex-basis: 35%;
            width: 48%;
        }

        input,
        textarea {
            outline: none;
            padding: 20px 30px;
            border: 1px solid rgba(0, 0, 0, .4);
            font-size: 20px;
            line-height: 1.2;
            color: gray;
            font-weight: 500;
            background-color: $background-color;
            border-radius: 5px;
            margin-bottom: 2rem;

            &:focus {
                color: $text-color;
                border-color: $additional-color;
            }
        }

        textarea {
            width: 100%;
            height: 170px;
        }

        button {
            outline: none;
            border: none;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            background-color: $additional-color;
            width: 30%;
            padding: .8rem 0;
            border-radius: 15px;
            color: $background-color;
            transition: .1s all linear;
            border: 2px solid $additional-color;
            min-width: 200px;

            &:hover {
                transform: translateY(-4px);
                background-color: $background-color;
                color: $additional-color;
            }
        }
    }
}

@include xxl {
    .contact-form {
        width: 95%;
    }
}

@include lg {
    .contact {
        h1 {
            font-size: 1.8rem;
        }

        &-form {

            &-fe,
            &-ps {
                flex-direction: column;

                input {
                    width: 100%;
                }
            }
        }

    }
}

.footer {
    background-color: $text-color !important;
    color: $background-color !important;
    height: fit-content;

    &-sm-icons {
        width: 100%;
        text-align: right;
        background-color: $text-color;
        padding-top: 1rem;

        // width: 80%;
        img {
            width: 50px;
            background-color: rgba(255, 255, 255, .2);
            cursor: pointer;
            padding: .8rem;
            // box-sizing: content-box;
            margin: 1rem;
            border-radius: 3px;
            transition: .35s all ease;

            &:hover {
                background-color: $additional-color;
                transform: translateY(-5px);
            }

            // fill: white;
        }
    }

    &-content {
        padding: 2rem 0 4rem;
        max-width: 95%;
        margin: auto;
        background-color: $text-color;
        display: grid;
        grid-template: 1fr/repeat(4, 1fr);
        grid-gap: 1rem;

        .onef {
            padding-left: 0;
        }

        img {
            background-color: $text-color;
        }

        div,
        div p,
        div a,
        div ul li,
        div h2 {
            background-color: $text-color;
            color: $background-color;
            min-width: 100%;
        }

        div {
            // text-align: center;
            width: 25%;
            padding-left: 1.5rem;
        }

        div ul {
            padding: 0;
            background-color: $text-color;
        }

        div li {
            list-style: none;
            text-align: left;
            padding-bottom: 1rem;
        }

        div li a {


            font-weight: 500;
            transition: .35s all ease;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $btn-color;
            }
        }

        div h2 {
            text-align: left;
            margin-bottom: 1.2rem;
        }

        div form {
            position: relative;
            background-color: $text-color;
            width: 95%;
            margin-top: 2rem;
            text-align: left;

        }

        div form .newsletter {
            padding: .8rem 1.2rem;
            background-color: inherit;
            outline: none;
            border: 1px solid white;
            color: $background-color;
            font-size: 16px;
            width: 100%;
            margin-bottom: 1rem;

        }

        div form button {
            font-size: 18px;
            font-weight: 600;
            padding: .6rem 1.5rem;
            border: none;
            outline: none;
            color: $background-color;
            background-color: $additional-color;
            cursor: pointer;
            border-radius: 10px;

        }
    }
}

@include xxl {
    .footer-content {
        grid-template: 1fr 1fr/1fr 1fr;

        .onef {
            padding-left: 1.5rem;
        }
    }
}

@include sm {
    .footer-sm-icons {
        img {
            width: 45px;
            margin: .5rem;
        }




    }

    .footer-content {
        grid-template: repeat(4, 1fr)/1fr;
    }
}

@media(max-width:300px) {
    .footer-content {
        .onef {
            padding: 0;
        }


    }

}